<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Disable m3u</string>
	<key>CFBundleGetInfoString</key>
	<string>Disable m3u</string>
	<key>CFBundleIdentifier</key>
	<string>com.reverse.put.as.disable.m3u</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Disable m3u</string>
	<key>CFBundlePackageType</key>
	<string>hvpl</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
</dict>
</plist>
